<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-header></app-header>
  <!-- <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/friend">Friend</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contactus">Contact Us</a>
    </li>
  </ul> -->

  <router-outlet></router-outlet>
  <h1>
    Welcome to {{ title }}!
    I am {{name}}.
  </h1>

  
  
  
